.button {
  width: 30px;
  height: 30px;
  background-color: lightblue;
}
.menu {
  width: 30%;
  height: 100%;
  background-color: red;
  transition: width 1s;
}

.menuHidden {
  width: 5%;
  height: 100%;
  background-color: red;
  transition: width 1s;
}

.nested {
  display: contents;
}

.not-nested {
  display: none;
}
