// ====================================================================================
// Helpers
// ====================================================================================

// Left Vertical Alignment
.l-v-align {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

// Centre Vertical Alignment
.c-v-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Right Vertical Alignment
.r-v-align {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.c-t-align {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.flex-column {
  flex-direction: column !important;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-between {
  justify-content: space-between;
}

// Importants set due to grid being queued first and helper classes used specifically to override unique use cases
.w-100 {
  max-width: 100% !important;
}

.h-100 {
  max-height: 100% !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.br-top-silver {
  border-top: 1px solid silver;
}

.br-bottom-silver {
  border-bottom: 1px solid silver;
}

// Lazy loads

.b-lazy {
  opacity: 0;
  transition: all 500ms;
}

.b-loaded {
  opacity: 1;
}

// Text

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// Text highlight

.highlight {
  color: $colorAccent1;
}

// overlay

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba($color-black, 0.3);
}

// Display

.hidden {
  display: none;
}
