@import "./global/variables.scss";
@import "./components/cards.scss";

.App {
  background-color: $colorAccent1;
  height: 100%;
  width: 100%;
  position: relative;
}

body {
  background-color: yellow;
}
